Uses Alphawave API from RapidAPI

https://rapidapi.com/alphawave/api/financial-statements/details

In [5]:
import pandas as pd
import requests as r
import json
import numpy as np

In [11]:
base_url = 'https://financial-statements.p.rapidapi.com/api/v1/resources/'
income = 'income-statement'
balance = 'balance-sheet'
cash = 'cash-flow-statement'

params = {'ticker':'INTC'}

host = 'financial-statements.p.rapidapi.com'
key = '84cc773a9amsh59e45cab889afdap1e0894jsnac1a5d1ecc84'

headers = {'x-rapidapi-host':host,
          'x-rapidapi-key':key}

In [17]:
income_statement = r.get(url = base_url + balance, headers = headers, params = params)

In [18]:
df_income = pd.DataFrame(income_statement.json())

In [19]:
df_income.T

,Common Stock Equity,Invested Capital,Net Debt,Net Tangible Assets,Ordinary Shares Number,Share Issued,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Working Capital
12/31/2017,69019000,95832000,23380000,31885000,4687000,4687000,31885000,123249000,94056000,26813000,69019000,54230000,12079000
12/31/2018,74563000,100922000,23340000,38214000,4516000,4516000,38214000,127963000,99661000,26359000,74563000,53400000,12161000
12/31/2019,77504000,106505000,24807000,40401000,4290000,4290000,40401000,136524000,102812000,29001000,77504000,59020000,8929000
12/31/2020,81038000,117439000,30536000,45041000,4062000,4062000,45041000,153091000,114935000,36401000,81038000,72053000,22495000